<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>网易企业邮箱--山东强比信息技术有限公司</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes" />
        <link rel="stylesheet" type="text/css" href="../css/m_cs.css" />
        <link rel="stylesheet" type="text/css" href="../Font-Awesome/css/font-awesome.css" />
        <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    </head>

    <body>
        <dl class="top_zi">
            <dt>山东强比信息技术有限公司</dt>
            <dd><a href="../price/price_msg.html">【<i class=" icon-comment"></i> 免费试用】</a></dd>
        </dl>
        <div class="top">
            <h3><a href="../index.html"><img src="../images/m_img/logo.png" ></a></h3>
            <span><a id="right-panel-link" href="#right-panel"><i class="icon-align-justify"></i></a></span>
            <p>
                        <u>全国24小时咨询热线</u>
            <strong><a href="tel:4006360163">4006-360-163</a></strong>
            
        </p>
    </div>
    <div id="right-panel" class="menu">
        <h2>
            <a class="close-panel-bt" href="#"><i class=" icon-remove"></i></a>
        </h2>
        <ul>
            <li><a href="../about.html" class="close-panel-bt">关于我们</a><i class="icon-arrow-right"></i></li>
            <li><a href="../product.html" class="close-panel-bt">产品介绍</a><i class="icon-arrow-right"></i></li>
            <li><a href="../price.html" class="close-panel-bt">产品购买</a><i class="icon-arrow-right"></i></li>
            <li><a href="../case_list.html" class="close-panel-bt">成功案例</a><i class="icon-arrow-right"></i></li>
            <li><a href="../news_list.html" class="close-panel-bt">新闻公告</a><i class="icon-arrow-right"></i></li>
            <li><a href="../qiye_service.html" class="close-panel-bt">企业服务</a><i class="icon-arrow-right"></i></li>
        </ul>
        <dl>
            <dd><a href="tel:4006360163">山东地区：400-6360-163</a></dd>
            <dd><a href="tel:0531-88554123">济南地区：0531-88554123</a></dd>
        </dl>
    </div>
    <script src="../js/jquery.panelslider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#left-panel-link').panelslider();
        $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200});

        $('.close-panel-bt').click(function () {
            $.panelslider.close();
        });
    </script>
    <h3 class="zi_news_title">
        <span><i class="icon-file-alt"></i>联系我们</span>
        <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
    </h3>
    <div class="zi_content">
        <p><strong style="font-size:16px;">山东强比信息技术有限公司</strong></p>
        <p>购买热线：400-6360-163  0531-88554123<br>
            邮箱：support@qiangbi.net<br>
            客服邮箱：jnqbkf@qiye.163.com <br>
            公司地址：山东省济南市山大路47号数码港大厦C-807</p>
        <!--<p><img src="../upload/other_img/about_img03.png"></p>-->
        <p><strong>河南分公司（郑州胜途科技有限公司）</strong></p>
        <p>购买热线：4000-460-365<br>
            公司地址：郑州市金水区经三路农业路交叉口财富广场2号楼1104</p>
        <!--<p><img src="../upload/other_img/about_img04.png"></p>-->
        <p><strong style="font-size:16px;">北京易至信科技有限公司</strong></p>
        <p>购买热线：010-85170726 （直线电话）<br>
            手机号码：18605310521<br>
            公司地址：北京市海淀区北四环西路9号银谷大厦2104室</p>
    </div>
    <!--foot-->
    <div class="bottom">
        <ul>
            <li>促销指定热线：<a href="tel:4006360163">400-6360-163</a> &nbsp;济南地区：<a href="tel:0531-88554123">0531-88554123</a><br> Copyright © 2007-2015  山东强比信息技术有限公司  版权所有</li>
        </ul>
    </div>
    <div class="foot">
        <a href="../index.html"><i class="icon-home"></i></a>
        <a href="tel:4006360163"><i class="icon-phone"></i></a>
        <a href="sms:18605310521"><i class="icon-envelope"></i></a>
    </div>
</body>
</html>

