<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        添加微信企业号绑定信息
    </h4>
</div>
<div class="modal-body">
    <div style="width:80%; margin: 0px auto;">
        <form class="form-horizontal" id="bind_info_form">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="TEXT" class="form-control col-sm-5" name="product" value='{$url}'>
                </div>
            </div>
        </form>
        <div class="alert alert-success" role="alert"> 请复制以上链接到网易蜂巢　容器中　crontab　追加该记录。 <br/> 编辑：crontab -e </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>