<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        添加微信企业号绑定信息
    </h4>
</div>
<div class="modal-body">
    <div style="width:80%; margin: 0px auto;">
        <form class="form-horizontal" id="bind_info_form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">秘钥</label>
                <div class="col-sm-7">
                    <textarea name="secret" rows="3" cols="40">{$info.privatesecret}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">product</label>
                <div class="col-sm-5">
                    <input type="TEXT" class="form-control col-sm-5" name="product" value="{$info.product}"
                           placeholder="PRODUCT">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">域名</label>
                <div class="col-sm-5">
                    <input type="TEXT" class="form-control col-sm-5" name="domain" value="{$info.domain}"
                           placeholder="DOMAIN">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">公司名</label>
                <div class="col-sm-5">
                    <input type="TEXT" class="form-control col-sm-5" name="corp_name" value="{$info.corp_name}"
                           placeholder="公司名">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">用户数量</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control col-sm-5" name="user_num" value="{$info.user_num}"
                           placeholder="数量">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">通讯录状态</label>
                <div class="col-sm-5">
                    <input type="radio" name="status" value="on" <?php if($info['addresslist_show']=='10') echo "checked"; ?>>开启
                    <input type="radio" name="status" value="off" <?php if($info['addresslist_show']=='20') echo "checked"; ?>>关闭
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-5">

                    <input type="radio" name="status" value="on" <?php if($info['status']=='on') echo "checked"; ?>>开启
                    <input type="radio" name="status" value="off" <?php if($info['status']=='off') echo "checked"; ?>>关闭
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">所属</label>
                <div class="col-sm-5">
                    <input type="radio" name="flag" value="10" <?php if($info['flag']=='10') echo "checked"; ?>>华北
                    <input type="radio" name="flag" value="20" <?php if($info['flag']=='20') echo "checked"; ?>>华东
                </div>
            </div>
            <?php if($info['api_status']=='10'){?>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">邮箱信息</label>
                <div class="col-sm-10">
                    <img src="{$info.mail_logo}"/>
                    <p>{$info.mail_org_name} 截止到：<?php echo date('Y-m-d H:i',$info['mail_exp_time'])?></p>
                </div>
            </div>
            <?php }?>
            <input type="hidden" value="{$info.corpid}" name="corpid">
            <input type="hidden" value="{$info.corp_id}" name="corp_id">
            <input type="hidden" value="{$info.id}" name="id">
        </form>
        <div class="alert alert-success" role="alert">关闭之后 不会给系统推送消息</div>
        <input type="hidden" value="{$datagrid_id}" name="edit_bindinfo_datagrid_id">
        <input type="hidden" value="{$modal_id}" name='edit_bindinfo_modal_id'>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id='reset_pwd_btn'>保存</button>
</div>
<script>
    //点击更新之后
    $('#reset_pwd_btn').click(function () {
        var form_id = 'bind_info_form';
        var action = '<?php echo url("authcorp/exec_edit_bind_info");?>';
        var datagrid_id = $('input[name="edit_bindinfo_datagrid_id"]').val();
        var modal_id = $('input[name="edit_bindinfo_modal_id"]').val();
        var serialize_form = $('#' + form_id).serialize();
        submit_form(action, serialize_form, modal_id, datagrid_id);
    });
</script>