<div class="page-header page-header-title">
    <h4>绑定企业信息查看</h4>
</div>
<div class="opendialog">
    <!--    <button type="button" class="btn btn-primary btn-sm" rel='modal' tag='add'>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            企业绑定信息
        </button>
        <button type="button" class="btn btn-danger btn-sm" rel='cancel' tag='cancel'>
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            批量删除
        </button>-->
    <ul class="nav query-ul">
        <li class="pull-left">
            &nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp; 查询：
        </li>
        <li class="pull-left">
            <input type="text" class="form-control input-sm" name="corp_name" id='corp_name'
                   placeholder="企业号名" style="width: 150px">
        </li>
        <li class="pull-left">
            <input type="text" class="form-control input-sm" name="corp_full_name" id='corp_full_name'
                   placeholder="公司名" style="width: 150px">
        </li>
        <li class="pull-left">
            <input type="text" class="form-control input-sm" name="api_domain" id='api_domain'
                   placeholder="域名" style="width: 100px">
        </li>
        <li class="pull-left">
            &nbsp; 邮箱接口状态：
        </li>
        <li class="pull-left">
            <input type="radio" name="api_status" value="10">正常
        </li>
        <li class="pull-left">
            &nbsp; 邮件推送状态：
        </li>
        <li class="pull-left">
            <input type="radio" name="send_status" value="on">启用
        </li>
        <li class="pull-left">
            <button type="button" class="btn btn-primary btn-sm " id="quick_query" rel='refresh_datagrid' tag='query'
                    datagrid_id="auth_corp_datagrid">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                查询
            </button>
        </li>
    </ul>
</div>
<div class="clearfix"></div>
<div class="bottom-data-div">
    <table id="auth_corp_datagrid" width="100%">
    </table>
</div>
<script>
    $(function () {
        var classid = 'auth_corp';
        var datagrid_id = classid + '_datagrid';
        //修改配置信息
        var modal_id = 'index_menulist';
        var edit_modal = modal_id;
        var urljson = '<?php echo Url("authcorp/index_json")?>';
        var hrefaddapi = '<?php echo Url("authcorp/editadd_netease_apiinfo")?>';
        //表示是 开启还是关闭
        var hrefstatus = '<?php echo Url("authcorp/cancelorok_sendmail")?>';
        var hrefcopy = '<?php echo Url("authcorp/copy_crontab_set");?>';
        var hrefadmincontact = '<?php echo Url("authcorp/show_admincontact");?>';
        load_authcorp_datagrid(datagrid_id, urljson, hrefaddapi, hrefstatus, hrefcopy, hrefadmincontact, edit_modal);

        $('#quick_query').click(function () {
            var corp_name = $('#corp_name').val();
            var corp_full_name = $('#corp_full_name').val();
            var domain = $('#api_domain').val();
            var api_status = $('input[name="api_status"]:checked').val();
            var send_status = $('input[name="send_status"]:checked').val();
            var datagrid_id = $(this).attr('datagrid_id');
            $('#' + datagrid_id).datagrid('load', {
                corp_name: corp_name,
                corp_full_name: corp_full_name,
                domain: domain,
                api_status: api_status,
                status: send_status
            });
        });


    });

    /**
     * 加载datagrid 信息
     */
    function load_authcorp_datagrid(datagrid_id, urljson, hrefaddapi, hrefstatus, hrefcopy, hrefadmincontact, edit_modal) {
        $('#' + datagrid_id).datagrid({
            url: urljson,
            idField: 'id',
            pagination: true,
            pageSize: 10,
            rownumbers: true,
            fitColumns: true,
            frozenColumns: [[
                {
                    field: 'ck',
                    checkbox: true
                }
            ]],
            columns: [[
                {field: 'id', title: '编号', width: 2, align: 'center'},
                {field: 'corp_name', title: '企业号名', width: 10},
                {field: 'apicorp_name', title: '公司名称', width: 10},
                {field: 'domain', title: '域名', width: 5},
                {field: 'subject_type', title: '企业类型', width: 5},
                {field: 'corp_type', title: '企业号类型', width: 5},
//                {field: 'agent_count', title: '授权应用数量', width: 5},
//                {field: 'agent', title: '应用名', width: 10},
                {field: 'api_status_title', title: '邮箱接口状态', width: 5},
                {field: 'status_title', title: '邮件推送状态', width: 5},
                {field: 'addtime', title: '授权时间', align: 'center', width: 5},
                {
                    field: 'action',
                    title: '操作',
                    width: 10,
                    formatter: function (value, row, index) {
                        status = row.status;
                        if (status == 'on') {
                            //启用　
                            status = 'off';
                            title = '禁用推送';
                            img = 'no.png';
                        } else {
                            //禁用
                            status = 'on';
                            title = '启用推送';
                            img = 'ok.png';
                        }
                        return '<img class="btn_do" src="/static/jquery-easyui-1.5/themes/icons/pencil.png" onclick="edit_record_modal(\'' + row.id + '\',\'' + hrefaddapi + '\',\'' + datagrid_id + '\',\'' + edit_modal + '\')"  title="修改添加网易邮箱API绑定信息"/>&nbsp;&nbsp;\n\
                                 <img class="btn_do" src="/static/jquery-easyui-1.5/themes/icons/' + img + '" onclick="cancelorok_sendmail(\'' + row.id + '\',\'' + hrefstatus + '\',\'' + datagrid_id + '\',\'' + status + '\')" title="' + title + '"/>&nbsp;&nbsp;\n\ ' +
                                '<img class="btn_do" src="/static/sys/image/code.png" onclick="edit_record_modal(\'' + row.id + '\',\'' + hrefcopy + '\',\'' + datagrid_id + '\',\'' + edit_modal + '\')" title="复制crontab代码"/>&nbsp;&nbsp;\n\ ' +
                                '<img class="btn_do" src="/static/sys/image/user_admin.png" onclick="show_admincontact_modal(\'' + row.id + '\',\'' + hrefadmincontact + '\',\'' + edit_modal + '\')" title="查看管理员联系方式"/>&nbsp;&nbsp;\n\ ';
                    }, align: 'center'
                }
            ]]
        });
    }
</script>