{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>成功案例</span>
    <strong><a href="javascript:history.go(-1);"><i class="fa fa-chevron-circle-left"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <dl class="case_list">
        <dd>
            <img src="/static/wap/upload/case_img/p24.jpg">
            <strong>恒大集团</strong>
            <span>是集民生住宅、文化旅游、快消、农业、乳业及体育产业为一体的企业集团。</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p13.jpg">
            <strong>老板电器</strong>
            <span>始创于1979年的老板电器，是中国厨房电器行业的领导者，也是迄今为止历史最悠久的专业厨房电器品牌。</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p14.jpg">
            <strong>保亿集团</strong>
            <span>是一家以房地产开发为核心、贸易流通与产业投资整合发展的国内知名企业。</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p25.jpg">
            <strong>海亮集团</strong>
            <span>是一家综合性特大型国际化民营企业集团，中国500强企业。</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p15.jpg">
            <strong>圆通航空</strong>
            <span>国内知名物流企业，,已成为一家集速递、航空、电子商务等业务为一体的大型企业集团</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p16.jpg">
            <strong>杭州萧山区政府</strong>
            <span>政府单位，基于对网易邮箱技术的绝对认可以予合作</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p17.jpg">
            <strong>施强集团</strong>
            <span>国内知名企业，业务领域涉及医药、教育、出国中介、网络科技等</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p18.jpg">
            <strong>大华集团</strong>
            <span>大华是国家一级资质的房地产开发企业，名列中国企业500强</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p19.jpg">
            <strong>宝利德集团</strong>
            <span>高端汽车服务运营、电子商务、融资租赁、酒店置业等四大核心领域的综合性产业集团</span>
        </dd>
        <dd>
            <img src="/static/wap/upload/case_img/p20.jpg">
            <strong>江南管理</strong>
            <span>全国首批甲级监理单位、全国首批获得工程监理综合资质的企业</span>
        </dd>
    </dl>
</div>
<div class="home_case">
    <h3>他们都在用—网易企业邮</h3>
    <ul>
        <li>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="34%"><img src="/static/wap/upload/case_img/p01.gif"></td>
                    <td width="33%"><img src="/static/wap/upload/case_img/p02.gif"></td>
                    <td width="33%"><img src="/static/wap/upload/case_img/p03.gif"></td>
                </tr>
                <tr>
                    <td><img src="/static/wap/upload/case_img/p04.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p05.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p06.gif"></td>
                </tr>
                <tr>
                    <td><img src="/static/wap/upload/case_img/p07.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p08.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p09.gif"></td>
                </tr>
                <tr>
                    <td><img src="/static/wap/upload/case_img/p10.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p11.gif"></td>
                    <td><img src="/static/wap/upload/case_img/p12.gif"></td>
                </tr>
                <tr>
                    <td><img src="/static/wap/upload/case_img/p21.jpg"></td>
                    <td><img src="/static/wap/upload/case_img/p22.jpg"></td>
                    <td><img src="/static/wap/upload/case_img/p23.jpg"></td>
                </tr>
            </table>
        </li>
    </ul>
</div>
{include file="public:footer"/}


