{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>新闻公告</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>

<h5 class="news_show_title">
    工作更从容 网易企业邮箱精品酒会完美落幕
    <span>发布时间：2015-9-22</span>
</h5>
<div class="zi_content">
    <p>近日，由业界知名企业邮箱服务商 - <a target="_blank" href="http://qiye.163.com/">网易企业邮箱</a>（qiye.163.com）
        主办的2015客户精品酒会在杭州完美落幕。来自山东省交通规划设计研究院、萧山区政府、上海宝冶、惠而浦中国等超过300家知名企业代表参会，与杭州网 易员工们欢聚一堂，交流&ldquo;互联网+&rdquo;时代下的全新工作方式，网易企业邮箱以安全稳定的产品体验和优质的服务，博得全场阵阵掌声。
    </p>
    <p><a title="点击看大图" target="_blank"
          href="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091501.jpg"><img
            src="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091501.jpg" border="0"
            width="600"></a></p>
    <p><strong>超过40万家企业进驻 终端用户突破1300万</strong></p>
    <p>夜 幕降临，在主持人的引导下，所有人将目光转向主席台，网易企业邮箱渠道总监王东举杯感谢到场所有嘉宾，并表示，作为中国企业邮箱行业的第一品牌，网易企业
        邮箱的企业客户数已超过40万家，终端用户数突破1300万位，在2015年还将在全国继续深入布局，拓展企业市场，为各中小企业信息化建设提速。</p>
    <p><a title="点击看大图" target="_blank"
          href="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091502.jpg"><img
            src="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091502.jpg" border="0"
            width="600"></a></p>
    <p><strong>荣获业界最高安全等级认证 做最安全的企业服务</strong></p>
    <p>在 一段轻音乐过后，网易企业邮箱技术总监蔡灿炜为嘉宾带来了一段热情洋溢的演讲，在2015年9月，中国信息安全测评中心正式授予网易企业邮箱邮件系统
        EAL3+级信息安全等级认证，意味着网易企业邮箱得到国家信息安全部门的权威认可，而且这是目前国内最高级别的邮件系统安全认证，网易成为国内首个、也
        是唯一一家获此认证的邮件服务商。此时此刻，在场所有嘉宾打消了一切安全顾虑，对产品的安全稳定性也达到一致认可。</p>
    <p><a title="点击看大图" target="_blank"
          href="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091503.jpg"><img
            src="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091503.jpg" border="0"
            width="600"></a></p>
    <p>蔡 总还表示，网易企业邮箱在过去一年中，不断自我创新，相继推出6.0web版、无限容量、萨班斯归档、邮箱大师APP以及高校、法院等行业定制版本，在未
        来，还将在整合服务领域继续拓展，打造全新的企业服务平台，提供一站式的办公与管理服务，为企业带来更丰富、从容的办公方式。</p>
    <p>交流酒会在掌声中氛围变的越浓烈，美妙动听的音乐，精心筹划的乐器表演，一轮又一轮的抽奖环节，以及丰盛的自助餐和美酒，嘉宾觥筹交错，洽谈惬意，将整场酒会推向高潮。</p>
    <p><a title="点击看大图" target="_blank"
          href="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091504.jpg"><img
            src="http://mimg.qiye.163.com/p/official_site/2012/img/product/banner_2015091504.jpg" border="0"
            width="600"></a></p>
    <p>网 易企业邮箱根植于中国第一大电子邮件服务商，具有丰富的运营经验和强大的技术实力，深受恒大集团、海尔集团、湖南卫视等诸多大型企事业单位高度认可。六年
        间，从市场占有率和市场美誉度两个方面，网易企业邮箱都已稳居国内绝对领先地位，在2015年二季度新增企业数量达到历史峰值，且老客户继续维持90%的 高续费率。</p>
    <p style="text-align:center;">&nbsp;</p>
</div>
{include file="public:footer"/}