{include file="public:header"/}
<!--banner-->
<div class="zi_banner"><img src="/static/wap/images/m_img/banner_service.jpg"></div>
<ul class="zi_menu">
    <li><a href="<?php echo url('ad/service',['flag'=>'yixin']); ?>">易信企业版</a><i class="icon-angle-right"></i></li>
    <li><a href="http://qiye.163.com/mobile/">邮箱大师</a><i class="icon-angle-right"></i></li>
    <li><a href="<?php echo url('ad/service',['flag'=>'jishitong']); ?>">网易即时通</a><i class="icon-angle-right"></i></li>
    <li><a href="http://qiye.163.com/mail/sarbanes.htm">萨班斯归档</a><i class="icon-angle-right"></i></li>
    <li><a href="http://qiye.163.com/mail/justice.htm">公正邮</a><i class="icon-angle-right"></i></li>
    <li><a href="http://qiye.163.com/network_disk/">企业网盘</a><i class="icon-angle-right"></i></li>
</ul>
{include file="public:footer"/}


