{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>新闻公告</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<h5 class="news_show_title">
    {$r.title}
    <span>发布时间：<?php echo date('Y-m-d H:i',$r['addtime'])?>&nbsp;&nbsp;阅读次数:{$r.readcount} </span>
</h5>
<div class="zi_content">
    <?php
        if($r['pic_url']){
            ?>
    <img src="{$r.pic_url}" title="宣传主图片">
    <?php
        }
    ?>
    {$r.contents}
</div>
{include file="public:footer"/}