<!--该文件是登录之后的首页面板-->
<div class="page-header page-header-title">
    <div class="row">
        <div class="col-sm-3">
            <h4>
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;<?php echo  think\Session::get('name');?>的工作台
            </h4>
        </div>
    </div>
</div>
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {$msg}
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class='col-sm-10'>
        <!--小组件调用展现的是日程等信息-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;系统信息
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody id='news_body'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
