{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>网易即时通</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p style="text-align:center;"><img src="/static/wap/upload/other_img/service_img01.jpg"></p>
    <p><strong>组织架构部署：</strong><br>
        支持员工上万级别的企业通讯录架构完整呈现（不含admin帐号）</p>
    <p><strong>即时沟通交流：</strong><br>
        企业员工可进行实时聊天、文本传输</p>
    <p><strong>快速搜索帐号：</strong><br>
        提供帐号、拼音、中文姓名的模糊查找，方便定位帐号</p>
    <p><strong>一键登录邮箱：</strong><br>
        可通过网易即时通一键登录网易企业邮箱webmail </p>
</div>

{include file="public:footer"/}

