{include file="public:header"/}

<h3 class="zi_news_title">
        <span><i class="icon-file-alt"></i>易信企业版</span>
        <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
    </h3>
    <div class="zi_content">
        <p style="text-align:center;"><img src="/static/wap/upload/other_img/service_img02.jpg"></p>
        <p><strong>单位通讯录：</strong><br>
            清晰的树形组织架构，便于查找同事协作沟通，工作更高效</p>
        <p><strong>共享通讯录：</strong><br>
            可创建通讯录共享给全体成员，自动同步更新，沟通更便捷</p>
        <p><strong>商务号码：</strong><br>
            免费申请新号码，即开即用，您的商务办公神器</p>
        <p><strong>电话会议：</strong><br>
            通话音质超高清，操作简单，随时随地快速召集会议</p>
        <p><strong>群发短信：</strong><br>
            一次性发短信给多人，会议通知、节日祝福轻松搞定</p>
        <p><strong>与易信互联互通：</strong><br>
            添加易信用户为好友，与外部联系人或客户沟通，顺畅自如 </p>
    </div>
{include file="public:footer"/}


