<!--该文件是登录之后的首页面板-->
<div class="page-header page-header-title">
    <div class="row">
        <div class="col-sm-5">
            <h4>
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;<?php echo  think\Session::get('corp_name');?>
            </h4>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-success" id="update_address_info"><span
                    class="glyphicon glyphicon-refresh"></span>更新邮箱通讯录
            </button>
            <span class="load_img"></span>
        </div>
    </div>
</div>
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {$msg}
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;本月邮件推送排行
                </h3>
            </div>
            <div class="panel-body">
                <div id='email_sendcount_order' style='height: 350px;padding: 2px;border:1px solid #E8E8E8;'>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;推送总量
                </h3>
            </div>
            <div class="panel-body" id="send_all_counthtml" style="height: 350px;padding-top:20px;">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;本月进入应用次数
                </h3>
            </div>
            <div class="panel-body">
                <div id='entry_mail_log' style='height: 350px;padding: 2px;border:1px solid #E8E8E8;'>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;本月进入应用次数
                </h3>
            </div>
            <div class="panel-body">
                <div id='user_distinctactive_count' style='height: 350px;padding: 2px;border:1px solid #E8E8E8;'>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('#update_address_info').click(function () {
            var url = "<?php echo Url('index/update_addresslist'); ?>";
            $.ajax({
                url: url,
                dataType: "json",
                beforeSend: function () {
                    $('.load_img').html('<img src="/static/sys//images/load_sm.gif">')
                },
                success: function (data) {
                    if (data.status == 'success') {
                        $.messager.alert('更新通讯录状态', '更新成功', 'success');
                    } else {
                        $.messager.alert('更新通讯录状态', '更新失败，请稍后重试', 'error');
                    }
                    $('.load_img').html('');
                },
                error: function () {
                    $.messager.alert('更新通讯录状态', '更新失败，请稍后重试', 'error');
                    $('.load_img').html('');
                }
            });

        });
        try {
            load_order_data("<?php echo Url('index/emailsend_count_order'); ?>");
        } catch (ex) {
            $.messager.alert('首页数据加载失败', '客户统计模块加载失败', 'error');
        }

        //总的数量
        try {
            load_allcount_html("<?php echo Url('index/load_allcount_html'); ?>");
        } catch (ex) {
            $.messager.alert('首页数据加载失败', '客户统计模块加载失败', 'error');
        }


        try {
            load_entrymail_data("<?php echo Url('index/get_entryemail_count'); ?>");
        } catch (ex) {
            $.messager.alert('首页数据加载失败', '客户统计模块加载失败', 'error');
        }

        //获取活跃度数量
        try {
            load_activecount_data("<?php echo Url('index/get_distinctactive_count'); ?>");
        } catch (ex) {
            $.messager.alert('首页数据加载失败', '获取客户活跃度模块加载失败', 'error');
        }
    });


    /**
     * 加载活跃用户数
     */
    function load_activecount_data(url) {
        $.ajax({
            url: url,
            dataType: "json",
            success: function (data) {
                var title = data.title;
                var subtitle = data.subtitle;
                var y = data.y;
                var time = data.time;
                var statistic = data.statistic;
                var tooltip_title = data.tooltip_title;
                index_distinctactive_count_chart("user_distinctactive_count", time, statistic, title, subtitle, y, tooltip_title);
            }
        });
    }


    /**
     * 去重之后的活跃用户数
     */
    function index_distinctactive_count_chart(id, time, statistic, title, subtitle, y, tooltip_title) {
        $('#' + id).highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: title
            },
            subtitle: {
                text: subtitle
            },
            xAxis: {
                categories: time
            },
            yAxis: {
                title: {
                    text: y
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                enable: true,
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' + this.x + ': ' + this.y + tooltip_title;
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: statistic
        });
    }


    //加载客户积分数据
    function load_order_data(url) {
        $.ajax({
            url: url,
            dataType: "json",
            success: function (data) {
                index_order_chart("email_sendcount_order", data.title, data.data);
            }
        });
    }

    //加载进入应用的数量信息
    function load_entrymail_data(url) {
        $.ajax({
            url: url,
            dataType: "json",
            success: function (data) {
                index_entrymail_chart("entry_mail_log", data.title, data.data);
            }
        });
    }


    /**
     * 加载总数量
     */
    function load_allcount_html(url) {
        $.ajax({
            url: url,
            dataType: "html",
            success: function (data) {
                $('#send_all_counthtml').html(data);
            }
        });
    }


    /**
     * 生成score
     */
    function index_order_chart(id, text, series) {
        $('#' + id).highcharts({
            chart: {
                type: 'column',
                marginRight: 100
            },
            title: {
                text: text
            },
            xAxis: {
                categories: ['累计']
            },
            yAxis: {
                title: {
                    text: "封"
                }
            },
            credits: {
                enabled: false
            },
            series: series
        });
    }


    /**
     * 生成score
     */
    function index_entrymail_chart(id, text, series) {
        $('#' + id).highcharts({
            chart: {
                type: 'column',
                marginRight: 100
            },
            title: {
                text: text
            },
            xAxis: {
                categories: ['累计']
            },
            yAxis: {
                title: {
                    text: "封"
                }
            },
            credits: {
                enabled: false
            },
            series: series
        });
    }

</script>