{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>合作机构</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div>
    <ul class="honor_box">
        <li>
            <strong><img src="/static/wap/upload/cop/c01.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>中国中小企业协会</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c02.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>中国中小企业服务网</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c03.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>中国企业文化咨询网</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c04.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>中国（广州）国际创业博览会</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c05.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>粤企动力</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c06.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>广东省中小企业发展促进会</span>
        </li>

        <li>
            <strong><img src="/static/wap/upload/cop/c07.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>国际金融报</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c08.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>天下网商</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c09.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>金融界</span>
        </li>
        <li>
            <strong><img src="/static/wap/upload/cop/c10.jpg" onload="DrawImage(this, 200, 130)"></strong>
            <span>上海雷默广告有限公司</span>
        </li>
    </ul>
</div>
{include file="public:footer"/}
