{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>后台管理功能</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;网易即时通</strong><br>
        企业级桌面即时通讯平台，通过企业组织架构的清晰呈现，企业员工可便捷的进行实时聊天、文本传输、群组会话等在线沟通，并可一键登录网易企业邮箱。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;邮件传真</strong><br>
        可直接在Webmail中接收、下载和打印国内发来的传真文件，无需购买和配置传真机。每50个企业邮箱帐号可免费获赠1个传真分机号。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业网盘</strong><br>
        提供企业内部文件存储和共享，管理员可设置域内成员的上传、下载权限。免费为每个企业提供5G企业网盘容量，扩容则需按照5G的整数倍进行扩容，价格为800元/5G/年。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;超大附件</strong><br>
        可上传总计不超过2G的多个大型文件并发送，其中单个文件最大不超过2G，以超链接形式支持任何邮箱帐号的收件人进行下载，不会占用发件人和收件人的邮箱容量或网盘容量。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;智能终端版</strong><br>
        业界独家为iPad、iPhone及Android系统智能终端量身定制的Webmail界面，简单易用。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业手机邮</strong><br>
        支持pushmail新邮件即时推送、直接预览各种附件、多帐号管理等应用的手机客户端，还可将企业通讯录下载至手机使用。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业闪电邮</strong><br>
        支持“多邮箱同时管理”的邮件客户端，应用网易邮箱专有协议，使得收发速度更快，适用于Win2000、WinXp、Win7及Vista系统。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业通讯录插件</strong><br>
        为Outlook、Foxmail等常用客户端同步企业通讯录的有利工具，可将企业通讯录完整组织架构导入客户端中，使企业员工通信更加方便高效。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业随身邮</strong><br>
        通过随身邮，可以像正常在线方式一样，用手机阅读、编写、回复邮件。支持邮箱通讯录，具有新邮件到达免费短信通知，支持照片，Doc等附件下载。真正实现随时随地，方便移动办公的高效率。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业WAP邮箱</strong><br>
        免费提供的增值服务。支持通过手机登录企业邮箱，通过手机操作即可进行邮件接收和发送，随时随地处理重要邮件。</p>
</div>
{include file="public:footer"/}
