{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>产品优势</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong style="color:#a02418;">1、丰富的运营经验</strong><br>
        18年来网易对邮箱系统进行持续不断的优化升级，积累了丰富的邮件系统运营经验</p>
    <p><strong style="color:#a02418;">2、优异的网络质量</strong><br>
        服务器架设于几大国家级骨干网节点，提供充足的带宽与优异的网络质量</p>
    <p><strong style="color:#a02418;">3、安全稳定的系统</strong><br>
        采用大型矩阵式服务器架构，安全稳定，收发邮件通畅无阻</p>
    <p><strong style="color:#a02418;">4、信息高度安全</strong><br>
        全程SSL邮件加密功能保证通信安全，无须担心邮件密码和通信内容被恶意监听</p>
    <p><strong style="color:#a02418;">5、顶级杀毒安全可靠</strong><br>
        采用国际顶级杀毒引擎，实时更新病毒库，病毒过滤率接近100%</p>
    <p><strong style="color:#a02418;">6、超强反垃圾能力</strong><br>
        与国外各反垃圾机构具有良好合作关系，建立互相举报机制；国内首家应用图片指纹技术，有效防止图片 垃圾邮件；自主创新反垃圾技术，针对国内垃圾邮件特征进行特别屏蔽处理</p>
    <p><strong style="color:#a02418;">7、人性化交互设计及精美使用界面</strong><br>
        采用国际领先的分布式系统引擎，不但大幅缩短响应时间，更重构了邮件系统的框架流程，提高了界面的友好度和系统的易用性</p>
    <p><strong style="color:#a02418;">8、庞大的专业服务队伍</strong><br>
        网易企业邮箱客服团队秉承网易客服中心优质服务理念，为用户提供7×24小时客户服务。网易客服中心历年来曾荣获“互联网行业最佳呼叫中心”、“中国客户关怀标杆企业”、“中国最佳客户服务奖”、“中国最佳售后服务”等称号。</p>
    <p style="text-align:center;">&nbsp;</p>
</div>
{include file="public:footer"/}
