{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>邮箱介绍</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong>网易 (NASDAQ: NTES)是中国领先的互联网技术公司</strong></p>
    <p>在开发互联网应用、服务及其它技术方面，始终保持国内业界的领先地位。网易对中国互联网的发展具有强烈的使命感，网易利用最先进的互联网技术，加强人与人之间信息的交流和共享，实现“网聚人的力量”。<br>
        邮件业务是网易公司的发展重点及重要基础服务</p>
    <p>1997年11月，网易自主研发了国内首个全中文的免费电子邮件系统。时至今天，网易旗下电子邮箱用户总数已突破7.5亿，免费邮箱和收费邮箱市场占有率均稳居全国第一。</p>
    <p><img src="/static/wap/upload/other_img/about_img05.png"></p>
    <p>
        <strong>网易企业邮箱，企业信息化专业解决方案</strong><br>
        网易企业邮箱，采用业内顶尖技术，由具有丰富经验的专业团队开发运营，致力于为企业用户提供中国最专业的电子邮箱服务。</p>
    <p style="text-align:center;">&nbsp;</p>
</div>
{include file="public:footer"/}

