{include file="public:header"/}

<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>后台管理功能</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业个性信息管理</strong><br>
        支持上传企业LOGO、登录界面背景图，可编辑企业名称、新闻公告及信脚，体现企业个性化信息及企业文化。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;部门帐号管理</strong><br>
        管理员可设置及管理高达8级的企业部门，可批量创建员工帐号，并对帐号各项信息进行管理。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;权限管理</strong><br>
        具备超级管理员、企业管理员和部门管理员三种权限类型，权限划分严密而清晰，同时方便企业日常管理。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;邮件列表</strong><br>
        管理员可将员工帐号按所在部门或工作需要进行列表划分，并设置使用邮件列表的不同权限，让员工邮件沟通更便捷。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;部门群发</strong><br>
        支持邮件发送与企业部门结构相结合，选取部门即可实现对目标人群群发邮件。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;企业通讯录管理</strong><br>
        管理员可进行通讯录显示顺序排序、导出企业通讯录、群发通讯录、设置通讯录使用状态等操作。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;IP登录限制</strong><br>
        管理员可限制企业员工登录邮箱的允许范围，并可添加白名单帐号，不受固定登录IP的限制。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;系统日志</strong><br>
        精确记录管理员操作记录、员工登录IP、域内邮件收发统计，及员工使用邮箱的具体状态。</p>
</div>

{include file="public:footer"/}
