{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>邮箱使用功能</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;容量自动扩充</strong><br>
        当旗舰版和商务版用户的企业邮箱已用容量到达总容量的80%时，系统将自动扩充5G容量，每3个月最多扩充一次。本功能免费提供。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;多风格、多语言邮箱界面</strong><br>
        多套邮箱界面模版，支持中文简体/繁体、英文三种语言，可根据喜好选择Webmail界面风格及语言，尽显个性。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;支持客户端收发</strong><br>
        支持SMTP/POP3/IMAP功能，轻松通过客户端软件（网易闪电邮、Outlook、Foxmail等）收发邮件。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;多种形式发信功能</strong><br>
        支持定时发信、自动转发、自动回复，发送加密邮件、带已读回执的邮件，支持帐号别名发信。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;多种形式收信功能</strong><br>
        支持邮箱搬家，轻松转移旧邮件；支持来信自动分类，可设置高达30条分类规则。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;文件夹管理</strong><br>
        可设置高达100个自定义文件夹，可与邮箱搬家、来信分类功能结合，将邮件分类到不同文件夹，便于管理。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;邮件全文搜索</strong><br>
        支持邮件标题、发件人、邮件正文搜索、常用附件及压缩附件的正文搜索，可对搜索结果再次筛选，快速定位邮件。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;邮件全文翻译</strong><br>
        可将英文邮件自动翻译成中文，便于阅读。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;自助查询</strong><br>
        支持用户查询最近的登录、发信、收信和删信记录，可恢复被隔离邮件。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;个人/企业通讯录</strong><br>
        功能强大的通讯录设定，支持自动导入邮件地址。企业通讯录完整展现企业组织架构，助力企业内部沟通。</p>
    <p><strong style="color:#a02418;"><i class="fa fa-arrow-circle-o-right"></i> &nbsp;个人网盘</strong><br>
        提供个人永久网络储存，可进行上传、复制、删除或转移文件，轻松实现高效办公（此功能不支持标准版用户）。<br>
    </p>
</div>
{include file="public:footer"/}
