<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网易企业邮箱 163企业邮箱 注册中心</title>
    <meta http-equiv="keywords" content="网易企业邮箱,163企业邮箱,企业邮箱试用,公司邮箱注册,域名邮箱购买">
    <meta http-equiv="description" content="网易只提供最专业的企业邮箱,163企业邮箱2015年最值得期待的新版企业邮箱横空出世。 无限容量、网银级安全、海外畅邮、邮箱大师、公正邮！">
    <link type="image/x-icon" href="/static/qiye/img/favicon.ico" rel="shortcut icon">
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="/static/qiye/css/crmpage.css">
    <script src="/static/qiye/js/jqueryMin.js" type="text/javascript"></script>
    <script src="/static/qiye/js/newSite.js" type="text/javascript"></script>
    <script src="/static/qiye/js/register.js" type="text/javascript"></script>
    <script src="/static/qiye/js/crmpage.js" type="text/javascript"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>
<!--头部-->
<div class="head">
    <div class="headInner">
        <span class="headLogo" style="background:url(/static/qiye/img/logo-yizhixin.jpg) no-repeat;"></span>
             <span class="wechatlogo"
                   style="background: url(https://res.wx.qq.com/mmocbiz/zh_CN/tmt/home/dist/img/cert_logo_blue_big_8784a5fb.png);"></span>
        <ul class="navBox">
            <li class="selected" id="shouye">
                <a href="javascript:;">首页</a>
            </li>
            <li id="sub_pro">
                <a href="javascript:;">产品优势</a>
            </li>
            <li id="sub_buy">
                <a href="javascript:;">申请开通</a>
            </li>
            <li id="sub_customer">
                <a href="javascript:;">客户案例</a>
            </li>
            <li id="sub_customer1">
                <a href="javascript:;">关于我们</a>
            </li>
        </ul>
        <div class="head_phone">
            <span class="icon"></span>
            4006-360-163
        </div>
        <a class="try_button" href="javascript:void(0);"
           onclick="$('html,body').animate({scrollTop: '0px'}, 200);">
            免费体验
        </a>
    </div>
</div>
<div class="banner">
    <ul class="banner_ul">
        <li class="img_1 current" style="display:list-item;"></li>
        <li class="img_2"></li>
        <li class="img_3"></li>
        <li class="img_4"></li>
    </ul>
    <div class="bannerInner">
        <div class="slideNum">
            <a id="img_1" href="javascript:void(0);" class="current"><b>1</b></a>
            <a id="img_2" href="javascript:void(0);"><b>2</b></a>
            <a id="img_3" href="javascript:void(0);"><b>3</b></a>
            <a id="img_4" href="javascript:void(0);"><b>4</b></a>
        </div>
        <div class="bannerBox">
            <form id="theform" name="theform" style="margin:0px; padding:0px;">
                <div style="margin-top:40px;margin-left:100px;
                            ">
                    <img src="/static/sys/image/authlogo.png" style="width:250px;"></div>
                <div style="margin-top:20px">
                    <a href=""
                       style="background:url('/static/qiye/img/auth_wechat.png');width:240px;height:50px;display: block; margin-left: 100px;"
                       title="授权安装网易企业邮箱应用套件"> </a>
                </div>
            </form>
        </div>
    </div>
    <div class="try_box">
        <a class="try_close" href="javascript:;"></a>
        <h4>提交成功，我们会尽快与您联系！</h4><br/>
        <h2>如有需要,请拨打
            <span class="successPhone">
                4006-360-163
            </span>咨询，我们会真诚为您解答</h2><br/>
        <a class="returnhome">回到主页</a>
    </div>
</div>
<div class="function" id="product">
    <ul class="function_ul">
        <li id="product1" class="current">
            <a class="img"></a>
            <p>亿级邮件系统架构</p>
        </li>
        <li id="product2">
            <a class="img img1"></a>
            <p>海外转发，安全可靠</p>
        </li>
        <li id="product3">
            <a class="img img2"></a>
            <p>高效反垃圾、反病毒</p>
        </li>
        <li id="product4">
            <a class="img img3"></a>
            <p>国家权威安全证书</p>
        </li>
        <li id="product5">
            <a class="img img4"></a>
            <p>手机邮箱协作办公</p>
        </li>
        <li id="product6">
            <a class="img img5"></a>
            <p>庞大的专业服务队伍</p>
        </li>
    </ul>
</div>
<!--专业领先 大可信赖-->
<div class="container product1">
    <span class="img1"></span>
    <div class="receive_cont">
        <h3>安全稳定的邮件系统架构</h3>
        <p>网易的邮箱系统承载着6.5个多亿的邮箱用户，依然保持着快速、高连通率证明网易的邮箱是具有无限级的架构和超强的稳定性。邮件处理能力高达每秒10000封。
            <br/>网易采用大型矩阵式服务器架构，单台服务器或多块存储设备的损坏并不影响您的服务的使用。有效的防止因为硬件的问题影响邮件服务的稳定。</p>
    </div>
</div>

<div class="container product2" style="display:none;">
    <span class="img2"></span>
    <div class="receive_cont">
        <h3>海外转发，安全可靠</h3>
        <p>网易是中国反垃圾协会发起人之一，服务器拥有高信誉度IP，并与亚马逊进行高度合作在香港、美国、欧洲、日本、新加坡等国家或地区搭建海外服务器，实现全球畅邮。</p>
        <p>
            网易为国内最大邮件服务商拥有6亿邮件用户，与国外各大反垃圾邮件组织建立良好的沟通机制。海外Webmail海外邮箱项目采用自主研发的加速通道技术和全球云服务器，能够大幅提升服务端访问速度，同时能解决海外邮件商对中国IP或域名的拉黑问题。
        </p>
    </div>
</div>
<div class="container product3" style="display:none;">
    <span class="img3"></span>
    <div class="receive_cont">
        <h3>高效反垃圾、反病毒</h3>
        <p>
            网易公司是中国互联网反垃圾邮件行业协会的发起人之一，并自主创新研发多项智能反垃圾技术，是目前国内反垃圾邮件技术最优秀的企业之一。目前，网易反垃圾平台的病毒邮件过滤已接近100%，目前网易邮箱对垃圾邮件的拦截率已高达98%，其中正确拦截率已达99.95%，而误判率仅有0.001%,这个水准大大高于国际0.003%的业界标准，长期占据国内第一的位置。</p>
    </div>
</div>

<div class="container product4" style="display:none;">
    <span class="img4"></span>
    <div class="receive_cont">
        <h3>国家权威安全证书</h3>
        <p>
            2011年11月，网易企业邮箱获得中国信息安全测评中心授予的信息技术产品安全测评证书（EAL2级），这是国内目前最高级别的邮件系统产品安全证书，网易公司成为互联网业界唯一获此证书的公司。这一认证是国家权威机构对网易邮件系统安全性的认可，说明网易企业邮箱能提供最安全稳定的服务。</p>
    </div>
</div>

<div class="container product5" style="display:none;">
    <span class="img5"></span>
    <div class="receive_cont">
        <h3>手机邮箱协作办公</h3>
        <p>支持同时管理多个邮箱。智能帐号配置系统，添加邮件账号仅需一步，简单方便。
            新邮件实时闪电推送服务，无论是在Android平台，还是iOS平台，邮箱大师都可以实时做到新邮件推送。
            毫秒级的极速体验，采用邮件列表增量读取、超速智能网络连接优化等技术，收取邮件仅需 0.2s，客户端打开邮件速度 0.1s，客户端邮件列表加载速度 0.3s。
            <br/>多平台数据同步。用户在使用手机、平板、电脑等多台设备的过程中，无须任何设置就能轻松享受随时随地的同步功能。</p>
    </div>
</div>

<div class="container product6" style="display:none;">
    <span class="img6"></span>
    <div class="receive_cont">
        <h3>庞大的专业服务队伍</h3>
        <p style="padding-top:10px">网易企业邮箱客服团队秉承网易客服中心优质服务理念，为用户提供7&times;24小时客户服务。网易客服中心历年来曾荣获&ldquo;互联网行业最佳呼叫中心&rdquo;、&ldquo;中国客户关怀标杆企业&rdquo;、&ldquo;中国最佳客户服务奖&rdquo;、&ldquo;中国最佳售后服务&rdquo;等称号。</p>
    </div>
</div>

<div class="priceList" id="buy">
    <div class="priceList_inner">
        <h4>强大功能&nbsp;&nbsp;特惠价格</h4>
        <div class="priceList_cont">
            <ul class="priceList_ul">
                <li class="priceList_liBg" style="border-bottom:0px;">
                    <span class="t1">产品规格</span>
                    <span class="t1">邮箱容量</span>
                    <span class="t1">普通附件</span>
                    <span class="t1">超大附件</span>
                    <span class="t1">企业网盘</span>
                    <span class="t1">即时通信</span>
                    <span class="t1">公正邮</span>
                    <span class="t1">市场价</span>
                </li>
                <li>
                    <span class="t1 t2"><b>5用户版</b></span>
                    <span class="t1 t2">无限容量</span>
                    <span class="t1 t2">100M</span>
                    <span class="t1 t2">2G</span>
                    <span class="t1 t2">5G</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2 t3">￥1500</span>
                </li>
                <li>
                    <span class="t1 t2"><b>10用户版</b></span>
                    <span class="t1 t2">无限容量</span>
                    <span class="t1 t2">100M</span>
                    <span class="t1 t2">2G</span>
                    <span class="t1 t2">5G</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2 t3">￥2925</span>
                </li>
                <li>
                    <span class="t1 t2"><b>50用户版</b></span>
                    <span class="t1 t2">无限容量</span>
                    <span class="t1 t2">100M</span>
                    <span class="t1 t2">2G</span>
                    <span class="t1 t2">5G</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2 t3">￥11625</span>
                </li>
                <li>
                    <span class="t1 t2"><b>100用户版</b></span>
                    <span class="t1 t2">无限容量</span>
                    <span class="t1 t2">100M</span>
                    <span class="t1 t2">2G</span>
                    <span class="t1 t2">5G</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2">支持</span>
                    <span class="t1 t2 t3">￥22500</span>
                </li>
            </ul>
            <span class="bottom">更多产品规格、价格及优惠，请咨询售前或销售人员：<span style="color:#820f00;">4006-360-163。</span></span>
        </div>
    </div>
</div>

<div class="user" id="customer">
    <h4>超过600万用户正在使用网易163企业邮箱</h4>
    <ul class="user_ul">
        <li class="user_li selected" id="intro1" style="margin-left:30px;">
            <a class="user_select intro1"></a>
            <img src="/static/qiye/img/case01.png" width="196" height="146"/></li>
        <li class="user_li" id="intro2">
            <a class="user_select intro2" style="display:none;"></a>
            <img src="/static/qiye/img/case02.png" width="196" height="146"/></li>
        <li class="user_li" id="intro3">
            <a class="user_select intro3" style="display:none;"></a>
            <img src="/static/qiye/img/case03.png" width="196" height="146"/></li>
        <li class="user_li" id="intro4">
            <a class="user_select intro4" style="display:none;"></a>
            <img src="/static/qiye/img/case04.png" width="196" height="146"/></li>
    </ul>

    <div class="userContainer intro1" style="">
        <p>第一财经日报：创刊于2004年11月，是中国第一份市场化的财经日报，由中国三大传媒集团&mdash;&mdash;上海广播电视台、广州日报报业集团、北京青年报社联合主办。《第一财经日报》为对开大报，每周一到周五出版，该报采取跨媒体的办报模式，其主要受众为中国的商界领袖、创业家、管理精英、金融投资人士、政策制定者和相关知识界等，力求覆盖中国最具消费力的高端主流人群。</p>
    </div>
    <div class="userContainer intro2" style="display:none;">
        <p>
            恒力集团：始建于1994年，是以石化，聚酯化纤薄膜瓶片工程塑料，地产和织造等四大板块为主业，热电、机械、金融、酒店等多元化发展的国际型企业。集团现拥有全球单体产能最大的PTA工厂、全球最大的超亮光丝和工业丝生产基地、全球最大的织造企业，员工6万多人，建有国家&ldquo;企业技术中心&rdquo;，企业竞争力和产品品牌价值均列国际行业前列。</p>
    </div>
    <div class="userContainer intro3" style="display:none;">
        <p>传化集团：创立于1986年，是一家多元化产业集团，主要产业包括化工、物流、农业和投资；是&ldquo;中国企业500强&rdquo;、&ldquo;中国民营企业500强&rdquo;、&ldquo;中国最具价值品牌500强&rdquo;企业。其中，浙江传化股份有限公司是传化集团五大事业平台的重要组成部分，拥有员工1000余名，年销售额超20亿元。</p>
    </div>
    <div class="userContainer intro4" style="display:none;">
        <p>
            粤电集团：承继原广东省电力集团公司的发电业务而组建。公司注册资本金215亿元人民币，由广东省人民政府和中国华能集团公司分别持有76％和24％的股权，现有员工13000多人，是广东省实力最强、规模最大的发电企业。在2013年度中国企业500强中位列第200位、在广东省企业500强中位列第19位。</p>
    </div>
    <div class="wrapBox" style="position:relative;margin:40px 27px 60px;">
        <div class="scrollBox">
            <div class="scrollCon">
                <div class="item user1"><img src="/static/qiye/img/userlist01.gif" width="146"
                                             height="91"/><span>广州亚组委</span>
                </div>
                <div class="item user2"><img src="/static/qiye/img/userlist02.gif" width="146"
                                             height="91"/><span>国泰君安证券</span>
                </div>
                <div class="item user3"><img src="/static/qiye/img/userlist03.gif" width="146"
                                             height="91"/><span>中国新闻网</span>
                </div>
                <div class="item user4"><img src="/static/qiye/img/userlist04.gif" width="146"
                                             height="91"/><span>中国建筑科学研究院</span></div>
                <div class="item user5"><img src="/static/qiye/img/userlist05.gif" width="146"
                                             height="91"/><span>罗蒙集团</span>
                </div>
                <div class="item user6"><img src="/static/qiye/img/userlist06.gif" width="146"
                                             height="91"/><span>卡巴斯基（中国）</span></div>
                <div class="item user7"><img src="/static/qiye/img/userlist07.gif" width="146"
                                             height="91"/><span>海通证券</span>
                </div>
                <div class="item user9"><img src="/static/qiye/img/userlist09.gif" width="146"
                                             height="91"/><span>华兴集团</span>
                </div>
                <div class="item user10"><img src="/static/qiye/img/userlist10.gif" width="146"
                                              height="91"/><span>金陵晚报</span>
                </div>
                <div class="item user11"><img src="/static/qiye/img/userlist11.gif" width="146"
                                              height="91"/><span>南方测绘</span>
                </div>
                <div class="item user12"><img src="/static/qiye/img/userlist12.gif" width="146"
                                              height="91"/><span>中大工业集团公司</span></div>
            </div>
            <div class="clear"></div>
        </div>
        <a href="javascript:void(0);" class="scrollBtn pre"><b></b></a>
        <a href="javascript:void(0);" class="scrollBtn next"><b></b></a>
    </div>
</div>
<div class="container1" id="customer1">
    <span class="img100"></span>
    <div class="receive_cont1">
        <h3>北京易至信科技有限公司</h3>

        <p>北京易至信科技有限公司成立于2015年，是以专业面向企业信息化服务为主的互联网应用服务企业。 多年来对IT技术的永不满足、勇于攀登、锐意进取，在强手如林的同行业中创造出更高的水平。
            客户至上是易至信第一价值观，目前已服务客户遍及国内外近万家，通过强大的运营管控能力、周到的客户服务能力、完善的技术保障与支持能力、广泛的销售网络和健全、高效的互动平台，为广大客户提供最佳系统方案 。
            公司以人为本的人才战略，将员工个人职业生涯发展与企业高速发展相结合，为员工提供有竞争力的薪酬福利待遇及广阔发展空间。打造了一支高素质的IT职业经理人团队，一支有梦想的团队。只要你有梦想，易至信和你一起实现！
            响应国家互联网+行动计划，以及推动移动互联网、云计算、大数据、物联网等与现代制造业结合，促进电子商务、工业互联网和互联网金融健康发展。 </p>
    </div>
</div>

<!--底部-->
<div class="footer">
    <div class="overlay" style="width: 1349px; height: 2936px; "></div>
    <div class="footerInner">
        <h1>网易只提供最专业的企业邮箱<br>
            网易企业邮箱6.0版&mdash;2016年最值得期待的新版企业邮箱横空出世。
            <br>无限容量、网银级安全、海外畅邮、邮箱大师、公正邮！</h1>
        <div class="footer_bottom" style="font-size:18px; line-height:28px; height:100px !important;">
            北京易至信科技有限公司(总部) 010-85170726</br>
            地址：北京市海淀区上地信息路1号1号楼9层901</br>
            京ICP备16033157号-1
        </div>
        <div class="footer_bottom">Copyright&copy;
            北京易至信科技有限公司
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_5011257'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D5011257%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </div>
</div>
</body>
</html>

