<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        添加微信企业号绑定信息
    </h4>
</div>
<div class="modal-body">
    <div style="width:80%; margin: 0px auto;">
        <form class="form-horizontal" id="mobile_info_form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-7">
                    <input type="text" name="mobile" value="{$mobile}"/>
                    <input type="hidden" name="old_mobile" value="{$mobile}">
                </div>
            </div>
            <input type="hidden" value="{$id}" name="id">
        </form>
        <input type="hidden" value="{$modal_id}" name='edit_mobile_modal_id'>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id='reset_pwd_btn'>保存</button>
</div>
<script>
    //点击更新之后
    $('#reset_pwd_btn').click(function () {
        if (!$('input[name="mobile"]').val()) {
            alert('请填写手机号码');
        }
        var form_id = 'bind_info_form';
        var action = '<?php echo url("index/exec_update_self_info");?>';
        var modal_id = $('input[name="edit_mobile_modal_id"]').val();
        var serialize_form = $('#' + form_id).serialize();
        submit_form(action, serialize_form, modal_id);
    });

    function submit_form(action, data, modal_id) {
        $('#' + modal_id + '_modal').modal('hide');
        //表单序列化的
        $.ajax({
            type: "POST",
            dataType: "json",
            //因为如果是异步执行的话  没有返回就执行return 了 但是同步的话还是会有问题的 比如长时间没有相应的话会阻塞
            async: false,
            url: action,
            data: data,
            success: function (data) {
                if (data.status == 'success') {
                    alert('手机号码更新成功。');
                } else if (data.status == 'failed') {
                    alert(data.msg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('手机号码更新失败，请稍后再试');
            }
        });
    }

</script>