<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        <img src="/static/sys/image/list.png"> 通讯录
    </h4>
</div>
<div class="modal-body">
    <div style="width:80%; margin: 0px auto;">
        <div class="row">
            <div class="col-sm-12">
                <spsn class="glyphicon glyphicon-user"></spsn>
                {$info.nickname} &nbsp;&nbsp;&nbsp;{$info.unit_name}
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12">
                邮箱账号:
                {$info.account_name}@{$domain}<span class="glyphicon glyphicon-envelope"></span>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12">
                <?php if($info['mobile']){ ?>
                手机号:
                <a href="tel:{$info.mobile}">{$info.mobile}</a> <span class="glyphicon glyphicon-phone"></span>
                <?php } ?>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12">
                工号:{$info.job_no}
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-12">
                <?php echo date('Y-m-d',$info['create_time'])?>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>