{load href="/static/sys/css/index.css"/}
{load href="/static/sys/js/common.js"/}
{load href="/static/jquery-easyui-1.5/themes/metro/easyui.css"/}
{load href="/static/jquery-easyui-1.5/themes/mobile.css"/}
{load href="/static/jquery-easyui-1.5/themes/icon.css"/}
{load href="/static/jquery-easyui-1.5/jquery.easyui.min.js"/}
{load href="/static/jquery-easyui-1.5/jquery.easyui.mobile.js"/}
{load href='/static/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js'/}
<!--font-awesome -->
<!--{load href = "/static/Font-Awesome-3.2.1/css/font-awesome.min.css"/}-->
<!--kindeditor-->
{load href = "/static/Kindeditor/themes/default/default.css"/}
{load href = "/static/Kindeditor/plugins/code/prettify.css"/}
{load href = "/static/Kindeditor/kindeditor-min.js"/}
{load href = "/static/Kindeditor/lang/zh_CN.js"/}
{load href = "/static/Kindeditor/plugins/code/prettify.js"/}
<!--ajax 文件上传-->
{load href = "/static/ajaxfileupload/ajaxfileupload.js"/}
<script src="https://qiyukf.com/script/9ab05fadc02d5ce33fb2c40f584e058f.js" defer="" async=""></script>
</body>
</html >
