<!DOCTYPE html>
<html>
<head>
    <title>SALESMEN.CN</title>
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Home/icon/sys.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--bootstrap-->
    <link href="__PUBLIC__/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    {load href="/static/sys/js/jquery-3.1.1.min.js" /}
    {load href="/static/bootstrap3/css/bootstrap.min.css" /}
    {load href="/static/bootstrap3/css/bootstrap-theme.css" /}
    {load href="/static/bootstrap3/js/bootstrap.min.js" /}
    <!--百度cdn 加速jquery-->
    <!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->




