<!DOCTYPE html>
<html>
<head>
    <title>网易邮箱微信企业号推送</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/sys/image/sys.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--bootstrap-->
    {load href="/static/sys/js/jquery-3.1.1.min.js" /}
    {load href="/static/bootstrap3/css/bootstrap.min.css" /}
    {load href="/static/bootstrap3/css/bootstrap-theme.css" /}
    {load href="/static/bootstrap3/js/bootstrap.min.js" /}
    <!--百度cdn 加速jquery-->
    <!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
    {load href="/static/sys/css/index.css"/}
    {load href="/static/sys/css/common.css"/}
    <!--加载highchart-->
    {load href="/static/Highcharts/highcharts.js"}
    {load href="/static/Highcharts/highcharts-3d.js"}
    {load href="/static/Highcharts/modules/exporting.js"}
    {load href="/static/Highcharts/modules/funnel.js"}





