<ul>
    <li><a href="about.html" class="close-panel-bt">关于我们</a><i class="icon-arrow-right"></i></li>
    <li><a href="product.html" class="close-panel-bt">产品介绍</a><i class="icon-arrow-right"></i></li>
    <li><a href="price.html" class="close-panel-bt">产品购买</a><i class="icon-arrow-right"></i></li>
    <li><a href="case_list.html" class="close-panel-bt">成功案例</a><i class="icon-arrow-right"></i></li>
    <li><a href="news_list.html" class="close-panel-bt">新闻公告</a><i class="icon-arrow-right"></i></li>
    <li><a href="qiye_service.html" class="close-panel-bt">企业服务</a><i class="icon-arrow-right"></i></li>
</ul>