<ul>
    <li><a href="<?php echo url('ad/aboutus');?>" class="close-panel-bt">关于我们</a><i class="icon-arrow-right"></i></li>
    <li><a href="<?php echo url('ad/product');?>" class="close-panel-bt">产品介绍</a><i class="icon-arrow-right"></i></li>
    <!--<li><a href="price.html" class="close-panel-bt">产品购买</a><i class="icon-arrow-right"></i></li>-->
    <li><a href="<?php echo url('ad/case_list');?>" class="close-panel-bt">成功案例</a><i class="icon-arrow-right"></i></li>
    <li><a href="<?php echo url('ad/ads_list');?>" class="close-panel-bt">新闻公告</a><i class="icon-arrow-right"></i></li>
    <li><a href="<?php echo url('ad/qiye_service');?>" class="close-panel-bt">企业服务</a><i class="icon-arrow-right"></i></li>
</ul>