/* CSS Document */
@charset "utf-8";
body { font-size:12px; font-family:"微软雅黑","Microsoft Yahei", Verdana, Tahoma, Arial, "宋体", sans-serif;margin:0;padding:0;background:#fff;}
* {padding:0;margin:0;}
*:focus {outline:none;}
html {height:100%;}
div, img, ol, ul, li, dl, dt, dd, h4, h2, h3, h4, h5, table, tr, th, td {border:none;list-style-type:none;margin:0;padding:0;font-weight:normal;}
form {margin:0;padding:0;display:inline;}
input { vertical-align:middle;border:none;}
a {text-decoration:none;cursor:pointer;color:#5d5d5d;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}

.head{width:100%;height:90px;_height:81px;background:url(../img/topBg.png) repeat-x;_background:url(${resSys}/quanguo/default/crm/images/topBg.gif) repeat-x;position:fixed;top:0;right:0;z-index:999;_position:relative;}
.headInner{width:985px;height:80px;_height:60px;margin:0 auto;}
.headLogo{width:369px;height:70px;display:block;float:left;}
.head .navBox {width:300px;height:60px;float:left;font-size:13px;padding-top:36px; padding-left:60px}
.head .navBox li {float:left;position:relative;height:60px;}
.head .navBox li a {height:60px;line-height:190%;color:#010101;display:inline-block;padding:0 10px; font-size:15px;}
.head .navBox li a:hover {color:#d22229;}
.head .navBox li.selected {border-bottom:4px solid #3581a3;height:40px;}
.head_phone{width:160px;height:60px;float:left;padding:36px 0px 0px 0px;font-size:20px;line-height:190%;}
.head_phone .icon{width:14px;height:14px;display:block;float:left;background:url(../img/icons1.gif) no-repeat 0px 0px;margin-right:5px;margin-top:5px;}
.try_button{width:85px;height:30px;display:block;border-radius:4px;background:#1f77c3;border:1px #1f77c3 solid;float:right;margin-top:32px;font-size:14px;text-align:center;line-height:200%;color:#fefefe;}
.try_button:hover{text-decoration:underline;}

.banner{width:100%;height:400px;overflow:hidden;position:relative;margin-top:81px;*float:left;_margin-top:0;_z-index:10;}
.banner_ul{width:100%;height:400px;padding:0px;margin:0px;position:absolute;top:0px;left:0px;z-index:1;}
.banner_ul li{width:100%;height:400px;float:left;}
.img_1{background:url(../img/banner01.png) no-repeat center;}
.img_2{background:url(../img/banner02.png) no-repeat center;}
.img_3{background:url(../img/banner03.png) no-repeat center;}
.img_4{background:url(../img/banner04.png) no-repeat center;}
.bannerInner{width:985px;height:400px;margin:0 auto;position:relative;z-index:20;}
.bannerBox{width:443px;height:400px;position:absolute;top:0px;right:-12px;background:url(../img/bannerBg.png) repeat-y;_background:url(../img/bannerBg.gif) right repeat-y;z-index:1000;}
.bannerInner .slideNum {width:192px;_width:212px;position:absolute;left:50%;top:375px;margin-left:-96px;z-index:1000;}
.bannerInner .slideNum a {display:block;float:left;width:28px;height:3px;padding:2px;_font-size:0;margin:0 5px;}
.bannerInner .slideNum a b {width:28px;height:3px;display:block;background:#fff;_background:#d6d2c2;
filter: alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;text-indent:-9999px;}
.bannerInner .slideNum a.current b, .bannerInner .slideNum a.current:hover b {_background:#fff;
filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
}
.bannerInner .slideNum a:hover b {_background:#e0dfd5;
filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;
}
.bannerBox h4{font-size:23px;color:#424242;font-weight:bold;width:100%;height:25px;display:block;text-align:center;padding-top:60px;padding-bottom:22px;_padding-bottom:10px;}
.bannerBox_input{width:100%;height:32px;position:relative;padding-top:9px;}
.bannerBox_input .name{width:45px;height:32px;display:block;float:left;padding-left:55px;font-size:14px;color:#515151;line-height:220%;}
.bannerBox_input .input{width:254px;height:30px;border:1px #c3c3c3 solid;display:block;float:left;font-family:"΢���ź�","Microsoft Yahei", Verdana, Tahoma, Arial,;color:#bfbfbf;line-height:220%;text-indent:5px;}



.bannerBox_input .topUp_input_focus{width:254px;height:30px;border:1px #c3c3c3 solid;display:block;float:left;font-family:"Microsoft Yahei", Verdana, Tahoma, Arial, "����",;color:#333;line-height:220%;text-indent:5px;}



.bannerBox_input .input_qvhao{width:70px;}
.bannerBox_input .yes{width:16px;height:16px;display:block;float:left;background:url(../img/icons1.gif) no-repeat -15px 0px;margin:8px 0px 0px 5px;}
.bannerBox_input .close{width:16px;height:16px;display:block;float:left;background:url(../img/icons1.gif) no-repeat -32px 0px;margin:8px 0px 0px 5px;}
.bannerBox_input .line{width:14px;height:30px;display:block;float:left;color:#bfbfbf;text-align:center;line-height:400%;position:absolute;top:0px;left:174px;}
.bannerBox_input .input_phone{width:164px;margin-left:18px;}
.bannerBox .button{width:255px;height:36px;display:block;margin-left:100px;background:#1f77c3;margin-top:16px;border-radius:4px;border:1px #1f77c3 solid;color:#fefefe;font-size:16px;text-align:center;line-height:220%;}
.bannerBox .button:hover{ text-decoration:underline;}
.hint_phone{width:183px;height:33px;display:block;position:absolute;top:-15px;left:210px;background:url(../img/hintBg.gif) no-repeat;text-align:center;color:#505050;line-height:210%;}


.function{width:100%;height:170px;background:url(../img/functionBg.gif) repeat-x;}
.function_ul{width:985px;height:170px;margin:0 auto;padding:0px;}
.function_ul li{width:162px;height:168px;float:left;text-align:center;border:1px #fff solid;border-bottom:0px #fff solid;font-size:14px;color:#505050;line-height:300%;}
.function_ul li.current{color:#000000;font-weight:bold;border-left:1px #e2e2e2 solid;border-right:1px #e2e2e2 solid;border-bottom:1px #fff solid;background:#fff;}
.function_ul li .img{width:89px;height:90px;background:url(../img/function.gif) no-repeat 0px 0px;display:block;margin:0 auto;margin-top:30px;}
.function_ul .selected{border-left:1px #e2e2e2 solid;border-right:1px #e2e2e2 solid;border-bottom:1px #fff solid;color:#000000;font-weight:bold;}
.function_ul li .img1{background:url(../img/function.gif) no-repeat 0px -91px;}
.function_ul li .img2{background:url(../img/function.gif) no-repeat 0px -182px;}
.function_ul li .img3{background:url(../img/function.gif) no-repeat 0px -273px;}
.function_ul li .img4{background:url(../img/function.gif) no-repeat 0px -364px;}
.function_ul li .img5{background:url(../img/function.gif) no-repeat 0px -455px;}

.container{width:985px;height:410px;margin:0 auto;}
.receive1 .img1{background:url(../img/pro_img_safe.gif) no-repeat;}
.container .img1{width:330px;height:265px;display:block;float:left;background:url(../img/01.png) no-repeat right bottom;padding:60px 0px 0px 0px;}
.container .img2{width:330px;height:265px;display:block;float:left;background:url(../img/02.png) no-repeat right bottom;padding:60px 0px 0px 0px;}
.container .img3{width:330px;height:265px;display:block;float:left;background:url(../img/03.png) no-repeat right bottom;padding:60px 0px 0px 0px;}
.container .img4{width:330px;height:265px;display:block;float:left;background:url(../img/04.png) no-repeat right bottom;padding:60px 0px 0px 0px;}
.container .img5{width:330px;height:265px;display:block;float:left;background:url(../img/05.png) no-repeat right bottom;padding:60px 0px 0px 0px;}
.container .img6{width:330px;height:265px;display:block;float:left;background:url(../img/06.png) no-repeat right bottom;padding:60px 0px 0px 0px;}

.receive_cont{width:580px;height:340px;float:right;padding-top:42px;}
.receive_cont h4{width:100%;height:50px;display:block;font-size:14px;font-weight:bold;color:#505050;}
.receive_cont h3{width:100%;height:25px;display:block;white-space: nowrap;font-size: 30px;font-weight:bold;color:#505050; padding-bottom:20px;}
.receive_cont p{width:100%;display:block;color:#505050;line-height:40px;font-size:18px;}

.priceList{width:100%;height:525px;background:#f6f6f6;}
.priceList_inner{width:985px;height:525px;margin:0 auto;}
.priceList h4{width:100%;height:40px;display:block;text-align:center;font-size:40px;color:#f67510;font-weight:bold;padding-top:48px;}
.priceList_cont{width:813px;height:229px;margin:0 auto;margin-top:28px;_margin-top:14px;background:#fff;box-shadow:1px 1px 8px rgba(0,0,0,0.3);}
.priceList_ul{width:100%;height:190px;margin:0px;padding:0px;}
.priceList_ul li{width:100%;height:37px;_height:32px;border-bottom:1px #d9d9d9 dashed;}
.priceList_liBg{background:#ff9c00;border-bottom:0px;}
.t1{width:100px;height:36px;_height:32px;display:block;float:left;color:#fff;text-align:center;line-height:320%;_line-height:260%;}
.t2{color:#505050;height:36px;_height:32px;}
.t3{color:#d3232a;}
.priceList_cont .bottom{width:100%;height:38px;background:#f2f1f1;display:block;text-align:center;line-height:340%;}
.priceList_inner .button{width:210px;height:40px;background:#1f77c3;border-radius:4px;margin:0 auto;margin-top:55px;display:block;border:1px #1f77c3 solid;color:#FFF;font-size:16px;line-height:240%;text-align:center;}
.priceList_inner .button:hover{ text-decoration:underline;}

#doyoo_panel{right:0px !important}

.user{width:985px;margin:0 auto;}
.user h4{width:100%;height:40px;font-size:40px;text-align:center;display:block;padding-top:37px;font-weight:bold;color:#2270ac;}
.user_ul{width:100%;height:150px;margin:0px;padding:38px 0px 0px 0px;}
.user_ul li{width:196px;height:146px;float:left; position:relative;}
.user_li{border:2px #b7e3fe solid;margin-left:40px;}
.user_ul li:hover{border:2px #3fa2dd solid;cursor:pointer;}
.user_ul .selected{border:2px #3fa2dd solid;}
.userContainer {width:921px;margin:0 auto;margin-top:21px;background:#e8f1ff;border:2px #64c6f3 solid;border-radius:8px;}
.userContainer p{color:#2270ac;font-size:14px;line-height:180%;margin:0px;padding:15px;}
.user_select{width:23px;height:12px;display:block;position:absolute;bottom:-25px;_bottom:-30px;left:85px;background:url(../img/user_select.gif) no-repeat;}
.scrollCon{width:1000000px;height:120px;padding:23px 0px 0px 0px;position:absolute;left:0;}
.scrollCon .item{width:146px;height:91px;float:left;padding:0 10px;}
.scrollCon .item img{border:2px solid #DEE3E7}
.scrollCon .item span{
	display: block;
	background-color: #efefef;
    height:25px;
	font-size:14px;
	font-weight:bold;
	font-family:"微软雅黑","Microsoft Yahei";
	text-align:center;
	padding:4px;
}
.scrollCon .item.hover span{
	background-color: #4d8e88;
}
.wrapBox .pre {display: block;height: 150px;left: 0;position: absolute;top: 0;width: 40px;}
.wrapBox .next {
    display: block;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.wrapBox .nextBg {
    background: url("../img/nextBg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.wrapBox .scrollBox {
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 816px;
	margin:0 auto;
}
.wrapBox .pre b, .wrapBox .next b {
    display: block;
    height: 29px;
    margin-top: 55px;
    width: 16px;
}
.wrapBox .pre b {
    background: url("../img/icons.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin-left: 10px;
}
.wrapBox .next b {
    background: url("../img/next.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    margin-right: 10px;
}

.footer{width:100%;height:320px;background:#88888b;margin-top:33px;}
.footerInner{width:985px;height:320px;margin:0 auto;}
.footerInner h1{width:100%;height:90px;display:block;font-size:24px;color:#fff;text-align:center;font-weight:bold;line-height:150%;padding-top:38px;}
.footerInner .button{width:210px;height:38px;background:#85a2b8;display:block;margin:0 auto;border-radius:4px;border:1px #5b7385 solid;margin-top:25px;font-size:16px;color:#fefefe;text-align:center;line-height:230%;}
.footerInner .button:hover{ text-decoration:underline;}
.footer_bottom{width:412px;height:28px;margin:0 auto;padding-top:50px;color:#fff;line-height:350%;}
.footer_logo{width:104px;height:28px;display:block;background:url(../img/footer_logo.gif) no-repeat;float:left;padding-right:5px;}
.try_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #CBCFD5;
    display: none;
    left: 50%;
    margin: -90px 0 0 -355px;
    position: fixed;
    top: 50%;
    width: 710px;
    z-index: 10000000;
}
.overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    filter: Alpha(opacity=50); /* IE6/IE7/8 */
    top: 0;
    width: 100%;
    z-index: 9000;
}
.try_box h4 {
    color: #2C2C2C;
    font-size: 24px;
    height: 30px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}
.try_box h2 {
    color: #2C2C2C;
    font-size: 20px;
    height: 30px;
    text-align: center;
    width: 100%;
}
.returnhome {
    background: none repeat scroll 0 0 ##1f77c3;
    border: 1px solid ##1f77c3;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    height: 32px;
    line-height: 32px;
    margin-left: 300px;
	margin-bottom:50px;
    text-align: center;
    width: 82px;
}
.try_close {
    background: url("../img/try_close.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 44px;
    position: absolute;
    right: -22px;
    top: -22px;
    width: 44px;
}
