{include file="public:header"/}
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>联系我们</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p><strong style="font-size:16px;">山东强比信息技术有限公司</strong></p>
    <p>购买热线：400-6360-163 0531-88554123<br>
        邮箱：support@qiangbi.net<br>
        客服邮箱：jnqbkf@qiye.163.com <br>
        公司地址：山东省济南市山大路47号数码港大厦C-807
    </p>
    <p><strong>河南分公司（郑州胜途科技有限公司）</strong></p>
    <p>购买热线：4000-460-365<br>
        公司地址：郑州市金水区经三路农业路交叉口财富广场2号楼1104</p>
    <p><strong style="font-size:16px;">山东强比信息技术有限公司</strong></p>
    <p>购买热线：010-85170726 （直线电话）<br>
        手机号码：18605310521<br>
        公司地址：北京市海淀区北四环西路9号银谷大厦2104室</p>
</div>
{include file="public:footer"/}