
<h3 class="zi_news_title">
  <span><i class="icon-file-alt"></i>企业愿景</span>
  <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
  <p style="text-align:center;"><img src="../upload/other_img/about_img02.jpg"></p>
</div>
<!--foot-->
<div class="bottom">
 <ul>
   <li>促销指定热线：<a href="tel:4006360163">400-6360-163</a> &nbsp;济南地区：<a href="tel:0531-88554123">0531-88554123</a><br> Copyright © 2007-2015  山东强比信息技术有限公司  版权所有</li>
 </ul>
</div>
<div class="foot">
 <a href="../index.html"><i class="icon-home"></i></a>
 <a href="tel:4006360163"><i class="icon-phone"></i></a>
 <a href="sms:18605310521"><i class="icon-envelope"></i></a>
</div>
</body>
</html>

