
<h3 class="zi_news_title">
    <span><i class="icon-file-alt"></i>公司简介</span>
    <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
</h3>
<div class="zi_content">
    <p style="text-align:center;"><img src="../upload/other_img/about_img01.jpg"></p>
    <p><strong style="text-align:center; font-size:1.3em;font-family:'微软雅黑';">
        山东强比信息技术有限公司
    </strong>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        山东强比信息技术有限公司成立于2007年，是以专业面向企业信息化服务为主的互联网应用服务企业。
        多年来对IT技术的永不满足、勇于攀登、锐意进取，在强手如林的同行业中创造出更高的水平。
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        客户至上是强比第一价值观，目前已服务客户遍及国内外近万家，通过强大的运营管控能力、周到的客户服务能力、完善的技术保障与支持能力、广泛的销售网络和健全、高效的互动平台，为广大客户提供最佳系统方案。
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司以人为本的人才战略，将员工个人职业生涯发展与企业高速发展相结合，为员工提供有竞争力的薪酬福利待遇及广阔发展空间。
        打造了一支高素质的IT职业经理人团队，一支有梦想的团队。只要你有梦想，强比和你一起实现！
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        强中自有强中手，一山更比一山高。响应国家互联网+行动计划，以及推动移动互联网、云计算、大数据、物联网等与现代制造业结合，促进电子商务、工业互联网和互联网金融健康发展，引导互联网企业拓展国际市场的号召，强比致力于成为卓越的、先进的、领先的网络服务营销机构，成就客户，成就强比。
        诚信赢得信赖，责任换来合作，拼搏增添活力，共赢创造未来！
    </p>
    <p><strong>强比人的目标<br>
    </strong>做企业邮箱行业第一名<br></p>
    <p><strong>强比公司竞争理念</strong><br>
        强中自有强中手<br>
        一山更比一山高<br>
    <p><strong>口号：</strong><br>
        为企业信息化助力</p>
    <p>
        <strong>人才理念：</strong>
        <br>
        千里马常有 伯乐亦常在</p>
</div>



