<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网易企业邮箱登录后台</title>
    {load href="/static/sys/js/jquery-3.1.1.min.js" /}
    {load href="/static/bootstrap3/css/bootstrap.min.css" /}
    {load href="/static/bootstrap3/css/bootstrap-theme.css" /}
    {load href="/static/bootstrap3/js/bootstrap.min.js" /}
</head>
<body>
<div style="width: 70%; height:200px; margin:100px auto;">
    <div class="alert alert-danger" role="alert">{$msg}</div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/static/sys/image/entry.jpg"/>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://qiyukf.com/script/9ab05fadc02d5ce33fb2c40f584e058f.js" async=""></script>