<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>网易企业邮箱--山东强比信息技术有限公司</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes" />
        <link rel="stylesheet" type="text/css" href="../css/m_cs.css" />
        <link rel="stylesheet" type="text/css" href="../Font-Awesome/css/font-awesome.css" />
        <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    </head>

    <body>
        <dl class="top_zi">
            <dt>山东强比信息技术有限公司</dt>
            <dd><a href="price_msg.html">【<i class=" icon-comment"></i> 免费试用】</a></dd>
        </dl>
        <div class="top">
            <h3><a href="../index.html"><img src="../images/m_img/logo.png" ></a></h3>
            <span><a id="right-panel-link" href="#right-panel"><i class="icon-align-justify"></i></a></span>
            <p>
            <u>全国24小时咨询热线</u>
            <strong><a href="tel:4006360163">4006-360-163</a></strong>

        </p>
    </div>
    <div id="right-panel" class="menu">
        <h2>
            <a class="close-panel-bt" href="#"><i class=" icon-remove"></i></a>
        </h2>
        <ul>
            <li><a href="../about.html" class="close-panel-bt">关于我们</a><i class="icon-arrow-right"></i></li>
            <li><a href="../product.html" class="close-panel-bt">产品介绍</a><i class="icon-arrow-right"></i></li>
            <li><a href="../price.html" class="close-panel-bt">产品购买</a><i class="icon-arrow-right"></i></li>
            <li><a href="../case_list.html" class="close-panel-bt">成功案例</a><i class="icon-arrow-right"></i></li>
            <li><a href="../news_list.html" class="close-panel-bt">新闻公告</a><i class="icon-arrow-right"></i></li>
            <li><a href="../qiye_service.html" class="close-panel-bt">企业服务</a><i class="icon-arrow-right"></i></li>
        </ul>
        <dl>
            <dd><a href="tel:4006360163">山东地区：400-6360-163</a></dd>
            <dd><a href="tel:0531-88554123">济南地区：0531-88554123</a></dd>
        </dl>
    </div>
    <script src="../js/jquery.panelslider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#left-panel-link').panelslider();
        $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200});

        $('.close-panel-bt').click(function () {
            $.panelslider.close();
        });
    </script>
    <h3 class="zi_news_title">
        <span><i class="icon-file-alt"></i>产品报价</span>
        <strong><a href="javascript:history.go(-1);"><i class="icon-reply"></i>返回</a></strong>
    </h3>
    <div class="zi_content">
        <h4 style="color:#000;"><strong style="color:#f00;">旗舰版</strong> 配置及其报价：</h4>
        <p>旗舰版是网易企业邮箱与网易即时通的联合定制版，网易即时通（NetEase EIM），简称EIM，是网易公司最新推出的企业级实时通讯平台，具有易管理、高效率、高安全等优势。</p>
        <p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>产品规格</th>
                <th>邮箱容量/用户</th>
                <th>即时通帐号</th>
                <th>附件大小</th>
                <th>超大附件</th>
                <th>个人网盘/用户</th>
                <th>赠送情况</th>
                <th>价格/年</th>
            </tr>
            <tr>
                <td><strong>5</strong>用户版</td>
                <td>无限空间</td>
                <td>5个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
                <td><strong style="color:#F00;">1500元</strong></td>
            </tr>
            <tr>
                <td><strong>20</strong>用户版</td>
                <td>无限空间</td>
                <td>20个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
                <td><strong style="color:#F00;">5550元</strong></td>
            </tr>
            <tr>
                <td><strong>50</strong>用户版</td>
                <td>无限空间</td>
                <td>50个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
                <td><strong style="color:#F00;">11625元</strong></td>
            </tr>
            <tr>
                <td><strong>100</strong>用户版</td>
                <td>无限空间</td>
                <td>100个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>
                    企业随身邮2个<br>
                    邮件传真号码2个</td>
                <td><strong style="color:#F00;">22500元</strong></td>
            </tr>
            <tr>
                <td><strong>200</strong>用户版</td>
                <td>无限空间</td>
                <td>200个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>
                    企业随身邮4个<br>
                    邮件传真号码4个</td>
                <td><strong style="color:#F00;">44400元</strong></td>
            </tr>
            <tr>
                <td><strong>500</strong>用户版</td>
                <td>无限空间</td>
                <td>500个</td>
                <td>100M</td>
                <td>2G</td>
                <td>1G</td>
                <td>企业网盘5G<br>
                    企业随身邮10个<br>
                    邮件传真号码10个</td>
                <td><strong style="color:#F00;">108750元</strong></td>
            </tr>
        </table>
    </p>
    <h4 style="color:#000;"><strong style="color:#f00;">商务版</strong> 配置及其报价：</h4>
    <p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>产品规格</th>
            <th>邮箱容量/用户</th>
            <th>即时通帐号</th>
            <th>附件大小</th>
            <th>超大附件</th>
            <th>个人网盘/用户</th>
            <th>赠送情况</th>
            <th>价格/年</th>
        </tr>
        <tr>
            <td><strong>5</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>5个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
            <td><strong style="color:#F00;">1000元</strong></td>
        </tr>
        <tr>
            <td><strong>20</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>20个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
            <td><strong style="color:#F00;">3700元</strong></td>
        </tr>
        <tr>
            <td><strong>50</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>50个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>企业随身邮1个<br>邮件传真号码1个</td>
            <td><strong style="color:#F00;">7750元</strong></td>
        </tr>
        <tr>
            <td><strong>100</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>100个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>
                企业随身邮2个<br>
                邮件传真号码2个</td>
            <td><strong style="color:#F00;">15000元</strong></td>
        </tr>
        <tr>
            <td><strong>200</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>200个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>
                企业随身邮4个<br>
                邮件传真号码4个</td>
            <td><strong style="color:#F00;">29600元</strong></td>
        </tr>
        <tr>
            <td><strong>500</strong>用户版</td>
            <td>5G<br>
                可免费扩容</td>
            <td>500个</td>
            <td>100M</td>
            <td>2G</td>
            <td>1G</td>
            <td>企业网盘5G<br>
                企业随身邮10个<br>
                邮件传真号码10个</td>
            <td><strong style="color:#F00;">72500元</strong></td>
        </tr>
    </table>
</p>
</div>
<div class="price_btn"><a href="price_msg.html">免费申请试用</a></div>
<!--foot-->
<div class="bottom">
    <ul>
        <li>促销指定热线：<a href="tel:4006360163">400-6360-163</a> &nbsp;济南地区：<a href="tel:0531-88554123">0531-88554123</a><br> Copyright © 2007-2015  山东强比信息技术有限公司  版权所有</li>
    </ul>
</div>
<div class="foot">
    <a href="../index.html"><i class="icon-home"></i></a>
    <a href="tel:4006360163"><i class="icon-phone"></i></a>
    <a href="sms:18605310521"><i class="icon-envelope"></i></a>
</div>
</body>
</html>

