<!--修改账号绑定信息-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        添加账号绑定信息
    </h4>
</div>
<div class="modal-body">
    <table class="table table-bordered" style="width:80%;margin: 0px auto;">
        <tr>
            <td class="t-left">
                <span class="glyphicon glyphicon-star" style="color:  #8c0101"></span>
                微信ID
            </td>
            <td colspan="7">
                <input type="text" value="" name="wechat_user_id" id="wechat_user_id">
            </td>
        </tr>
        <tr>
            <td class="t-left">
                <span class="glyphicon glyphicon-star" style="color:  #8c0101"></span>
                姓名
            </td>
            <td colspan="7">
                <input type="text" value="" name="check_name" id="check_name">
            </td>
        </tr>
        <tr>
            <td class="t-left"><span class="glyphicon glyphicon-star" style="color:  #8c0101"></span>邮箱账号</td>
            <td colspan="7">
                <input name="check_email" id='check_email' class="form-control input-sm" value="" style="width:220px;display: inline-block">
            </td>
        </tr>
    </table>
    <input type="hidden" value="{$datagrid_id}" name="add_{$page_id}_datagrid_id">
    <input type="hidden" value="{$modal_id}" name='add_{$page_id}_modal_id'>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary btn-sm"  id="add_{$page_id}_btn">添加</button>
</div>

<script>
    $(function () {
        $('#add_{$page_id}_btn').click(function () {
            var action = '__MODULE__/WechatMailcheck/exec_add_wechatmail';
            var datagrid_id = $('input[name="add_{$page_id}_datagrid_id"]').val();
            var modal_id = $('input[name="add_{$page_id}_modal_id"]').val();
            var d = new Object();
            d.wechat_user_id = $('#wechat_user_id').val();
            d.check_name = $('#check_name').val();
            d.check_email = $('#check_email').val();
            if (!d.wechat_user_id) {
                $.messager.alert('添加账号绑定异常', '请填写微信ID', 'info');
                return;
            }
            if (!d.check_name) {
                $.messager.alert('添加账号绑定异常', '请填写姓名', 'info');
                return;
            }
            if (!d.check_email) {
                $.messager.alert('添加账号绑定异常', '请填写邮箱账号', 'info');
                return;
            }
            submit_form(action, $.param(d), modal_id, datagrid_id);
        });
    })
</script>

