<include file="Public:alert"/>
<div class="page-header page-header-title">
    <h4><img src="/static/sys/image/approval.png">&nbsp;&nbsp;邮箱审核</h4>
</div>
<!--企业部门信息设置-->
<div class="opendialog">
    <div class='row'>
        <div class="col-lg-12">
            <ul class="nav query-ul">
                <li class="pull-left">
                    姓名：<input name="query_name" type='text' id='query_name' class="form-control input-sm" value=""
                              style="width:120px; display: inline-block;"/>
                </li>
                <li class="pull-left">
                    <button type="button" class="btn btn-default btn-sm" rel='refresh_datagrid' tag='query'>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        查询
                    </button>
                </li>
                <li class="pull-left">
                    <button type="button" class="btn btn-primary btn-sm" rel='modal' tag='add_wechat_user'>
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        添加账号绑定
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="bottom-data-div">
    <table id="wechatuser_mailcheck_datagrid">
    </table>
</div>

<script>
    $(function () {
        var classid = 'wechatuser_mailcheck';
        var datagrid_id = classid + '_datagrid';
        var urljson = '<?php echo url("WechatMailcheck/index_mailcheck_json");?>';
        var hrefcheck = '<?php echo url("WechatMailcheck/check_wechatmail");?>';
        var hrefnotcheck = '<?php echo url("WechatMailcheck/notcheck_wechatmail");?>';
        var hrefedit = '<?php echo url("WechatMailcheck/edit_wechatmail");?>';
        var hrefadd = '<?php echo url("WechatMailcheck/add_wechatmail");?>';
        var modal_id = 'index_menulist';
        load_wechat_user_datagrid(datagrid_id, urljson, hrefcheck, hrefnotcheck, hrefedit, modal_id);
        //按钮点击事件完成之后
        $('.opendialog button').click(function () {
            var tag = $(this).attr('tag');
            var rel = $(this).attr('rel');
            var link = '';
            switch (tag) {
                case'add_wechat_user':
                    link = hrefadd;
                    break;
            }
            switch (rel) {
                case 'refresh_datagrid':
                    var query_name = $('#query_name').val();
                    $('#' + datagrid_id).datagrid('load', {
                        name: query_name,
                    });
                    break;
                case 'modal':
                    add_record_modal(datagrid_id, link, modal_id);
                    break;
            }
        });
    });
    /**
     * 加载datagrid 信息
     */
    function load_wechat_user_datagrid(datagrid_id, urljson, hrefcheck, hrefnotcheck, hrefedit, edit_modal) {
        $('#' + datagrid_id).datagrid({
            url: urljson,
            idField: 'id',
            pagination: true,
            pageSize: 10,
            rownumbers: true,
            fitColumns: true,
            columns: [[
                {field: 'id', title: 'ID', align: 'center', hidden: true},
                {field: 'check_name', title: '姓名（填写）', align: 'center', width: 8},
                //售前跟踪   合同回传——售中  已经付款之后的——售后  服务    动态更改状态
                {field: 'name', title: '姓名', align: 'center', width: 8},
                //表示是潜在客户 一般客户  vip 客户等
                {field: 'check_email', title: '邮箱账号(填写)', width: 8},
                //表示是公海还是私海
                {field: 'email', title: '邮箱账号', width: 8},
                {field: 'mobile', title: '手机号码', width: 8},
                {field: 'addtime', title: '提交审核时间', width: 8},
                {field: 'status', hidden: true, width: 8},
                {field: 'checktime', hidden: true, width: 8},
                {
                    field: 'action',
                    title: '操作',
                    align: 'center',
                    width: 10,
                    formatter: function (value, row, index) {
                        var edit_btn = '<button type="button" id="myButton" onclick="edit_record_modal(\'' + row.id + '\',\'' + hrefedit + '\',\'' + datagrid_id + '\',\'' + edit_modal + '\')" class="btn btn-danger btn-sm btn-menu">修改信息</button>&nbsp;&nbsp;\n\ ';
                        if (row.status == 20) {
                            return '<button type="button" id="myButton" onclick="check_wechatuserid_mailaccount(\'' + row.id + '\',\'' + hrefcheck + '\',\'' + datagrid_id + '\')" class="btn btn-success btn-sm btn-menu">审核通过</button>&nbsp;&nbsp;\n\
                                        <button type="button" id="myButton" onclick="notcheck_wechatuserid_mailaccount(\'' + row.id + '\',\'' + hrefnotcheck + '\',\'' + datagrid_id + '\')" class="btn btn-success btn-sm btn-menu">否决</button>&nbsp;&nbsp;\n\ '
                                    + edit_btn;
                        } else if (row.status == 10) {
                            return '已审核,时间：' + row.checktime + edit_btn;
                        } else {
                            return '已否决,时间：' + row.checktime + edit_btn;
                        }
                    }
                }
            ]],
        });
    }

    /**
     * 审核微信的邮箱推送的单条记录
     */
    function check_wechatuserid_mailaccount(id, link, datagrid_id) {
        $.messager.confirm("操作提示", "您确定审批通过？", function (status) {
            if (status) {
                $.ajax({
                    url: link,
                    type: 'post',
                    data: {
                        id: id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        exec_complete(data, datagrid_id);
                    }
                });
            } else {
                return;
            }
        })
    }
    /**
     * 审核不通过
     */
    function notcheck_wechatuserid_mailaccount(id, link, datagrid_id) {
        $.messager.confirm("操作提示", "您确定否决该申请？", function (status) {
            if (status) {
                $.ajax({
                    url: link,
                    type: 'post',
                    data: {
                        id: id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        exec_complete(data, datagrid_id);
                    }
                });
            } else {
                return;
            }
        })
    }

</script>

