<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网易企业邮箱--山东强比信息技术有限公司</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes"/>
    <meta name="format-detection" content="telphone=no"/>
    {load href="/static/sys/js/jquery-3.1.1.min.js" /}
    {load href="/static/wap/css/m_cs.css" /}
    {load href="/static/Font-Awesome-3.2.1/css/font-awesome.css" /}
    {load href="/static/wap/js/jssor.core.js" /}
    {load href="/static/wap/js/jssor.utils.js" /}
    {load href="/static/wap/js/jssor.slider.js" /}
    <link rel="icon" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico">
</head>
<body>
<dl class="top_zi">
    <dt>山东强比信息技术有限公司</dt>
    <!--<dd><a href="price/price_msg.html">【<i class=" icon-comment"></i> 免费试用】</a></dd>-->
</dl>
<div class="top">
    <h3><a href="index.html"><img src="/static/wap/images/m_img/logo.png"></a></h3>
    <span><a id="right-panel-link" href="#right-panel"><i class="icon-align-justify"></i></a></span>
    <p>
        <u>全国24小时咨询热线</u>
        <strong><a href="tel:4006360163">4006-360-163</a></strong>
    </p>
</div>
<div id="right-panel" class="menu">
    <h2>
        <a class="close-panel-bt" href="#"><i class=" icon-remove"></i></a>
    </h2>
    {include file="index:navbar"/}
    <dl>
        <dd><a href="tel:4006360163">山东地区：400-6360-163</a></dd>
        <dd><a href="tel:0531-88554123">济南地区：0531-88554123</a></dd>
    </dl>
</div>
{load href="/static/wap/js/jquery.panelslider.min.js" /}
<script type="text/javascript">
    $('#left-panel-link').panelslider();
    $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200});
    $('.close-panel-bt').click(function () {
        $.panelslider.close();
    });
</script>
{load href="/static/wap/js/m-banner.js" /}







